/* useState and useEffect */

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #323435;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 2rem;
}
.h1style {
  font-size: 2rem;
  border-radius: 30px;
  background: #fff;
  color: #323435;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.btn {
  margin: auto;
  margin: 2rem;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 25px;
  background-color: #3280a1;
  color: aliceblue;
  cursor: pointer;
  border-radius: 1rem;
}
.btn:hover {
  background-color: #136ca7;
}
p {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: normal;
  padding-top: 10px;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.counter {
  padding-right: 20px;
}

.remove {
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(210, 84, 84);
  border-radius: 20px;
  margin-left: 50px;
}

h2 {
  font-size: 50px;
}

label {
  font-size: 20px;
}
input {
  padding: 4px 8px;
  margin-bottom: 20px;
}
.submitButton {
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  background: rgb(218, 92, 61);
  color: #fff;
}
form {
  padding: 3rem;
  border-radius: 20px;
  background-color: rgb(93, 125, 223);
  margin-bottom: 20px;
}
.showDetails {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
}
.h6 {
  font-size: 2rem;
}
